@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    align-content: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-image: url("img/background");
    background-size: auto;
}

main {
    padding-bottom: 20px;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

h2 {
    text-align: justify;
    color: #3737d1;
    font-size: 25px;
}

p {
    text-align: justify;
    font-weight: lighter;
    color: black;
    font-size: 17px;
}

article {
    border: 2px solid #424246;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    padding: 30px;
    border-radius: 10px;
    background-color: #f9f1f1;
    color: white;
}

form {
    border: 2px solid #424246;
    margin: auto;
    margin-top: 20px;
    width: 90%;
    padding: 30px;
    border-radius: 10px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #f9f1f1;
    color: white;
}

label {
    color: black;
    font-weight: lighter;
}

input {
    border-radius: 5px;
    text-align: center;
}

button {
    background-color: #424246;
    border-radius: 5px;
    color: white;
}

#h2-form {
    text-align: center;
    font-size: 25px;
}

#p-form {
    text-align: center;
    font-size: 17px;
}